@charset "UTF-8";
header{
    color: blanchedalmond;  
    background-color: green;
    text-align: center; 
}

h2{
    color: rgb(2, 83, 2);
    background-color: rgba(6, 204, 6, 0.096);
}
/*estilo do menu*/
nav#menu{
    display:block ;
    text-align: left;
}
 div.topo nav#menu ul{
    list-style:none;
    text-transform:uppercase ;
    position: absolute;
    
}
nav#menu li{
    display: inline-block ;
    background-color: green;
    padding: 5px;
    margin:1px ;/*espasamento emtre os retangulos*/
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition:background-color 1s;
    transition: background-color 1s;/*a demosra de mudansa de cor*/
}
nav#menu li:hover{
    background-color: rgb(10, 241, 10);
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color:blanchedalmond;/*cor da escrita */
    text-decoration: none;/*decorasão do texto*/
}
nav#menu a:hover{
    color: black;/*cor da escrita quando está com o mouse em cima  */
    text-decoration: underline;/*decorasão do texto com texto grifado*/

}